.App-header {
  background-color: #7CFC00;
  display: flex;
  flex-direction: row;
  color: black;
}

.signUp, .login{
  margin: 10px;
  text-decoration: underline;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo {
  margin: 15px;
  flex: 1;
  text-align: flex-start;

}
